<div class="field grid">
  <label for="defence_on" class="col-fixed w-18rem">Блокировать?</label>
  <div class="col">
    <p-checkbox binary="true" value=true inputId="blocked" id="defence_on" [(ngModel)]="defenceOn"/>
  </div>
</div>
<div class="field grid">
  <label for="defence_delay" class="col-fixed w-18rem">На время (сек.):</label>
  <div class="col">
    <p-inputNumber [disabled]="!this.defenceOn" [(ngModel)]="defenceDelay"
                   class="p-inputtext-sm text-base text-color"
                   id="defence_delay"
                   inputId="defence_delay"
                   [min]="0"/>
  </div>
</div>
<div class="field grid">
  <label for="defence_stack_time" class="col-fixed w-18rem">Если в течение (сек.):</label>
  <div class="col">
    <p-inputNumber [disabled]="!this.defenceOn" [(ngModel)]="defenceStackTime" class="p-inputtext-sm"
                   inputId="defence_stack_time" id="defence_stack_time" [min]="0"/>
  </div>
</div>
<div class="field grid">
  <label for="defenceMaxStackHits" class="col-fixed w-18rem">Сделано хитов более:</label>
  <div class="col">
    <p-inputNumber [disabled]="!this.defenceOn" [(ngModel)]="defenceMaxStackHits" class="p-inputtext-sm"
                   id="defenceMaxStackHits" inputId="defenceMaxStackHits" [min]="0"/>
  </div>
</div>
<div class="field grid">
  <label for="defenceLog" class="col-fixed w-18rem"> Сделать запись в журнал событий:</label>
  <div class="col">
    <p-checkbox [disabled]="!this.defenceOn" binary="true" value=true inputId="blocked" id="defenceLog"
                [(ngModel)]="defenceLog"/>
  </div>
</div>

<div class="card flex justify-content-center">
  <p-button label="Сохранить" (onClick)="save()"/>
</div>
