<p-card header="Filter">

</p-card>

<p-tabView>
  <p-tabPanel header="Посещаемость">
    <p-panel header="Общая посещаемость">
      <p-table>
        <ng-template pTemplate="header">
          <tr>
            <th>Сегодня 25.09.2024</th>
            <th>Вчера 24.09.2024</th>
            <th>Позавчера 23.09.2024</th>
            <th>Всего</th>
          </tr>
        </ng-template>
        <!--      <ng-template pTemplate="body" let-product>-->
        <!--        <tr>-->
        <!--          <td>{{ product.code }}</td>-->
        <!--          <td>{{ product.name }}</td>-->
        <!--          <td>{{ product.category }}</td>-->
        <!--          <td>{{ product.quantity }}</td>-->
        <!--        </tr>-->
        <!--      </ng-template>-->
      </p-table>
    </p-panel>
  </p-tabPanel>
  <p-tabPanel header="Рекламные компании">
    <p-panel header="Рекламные кампании (переходы) (Top 20)">
      <p-table>
        <ng-template pTemplate="header">
          <tr>
            <th>Рекламная кампания</th>
            <th>Сегодня 25.09.2024</th>
            <th>Вчера 24.09.2024</th>
            <th>Позавчера 23.09.2024</th>
            <th>Всего</th>
          </tr>
        </ng-template>
        <!--      <ng-template pTemplate="body" let-product>-->
        <!--        <tr>-->
        <!--          <td>{{ product.code }}</td>-->
        <!--          <td>{{ product.name }}</td>-->
        <!--          <td>{{ product.category }}</td>-->
        <!--          <td>{{ product.quantity }}</td>-->
        <!--        </tr>-->
        <!--      </ng-template>-->
      </p-table>
    </p-panel>
  </p-tabPanel>
  <p-tabPanel header="События">
    <p-panel header="Типы событий (Top 20)">
      <p-table>
        <ng-template pTemplate="header">
          <tr>
            <th>Название</th>
            <th>Сегодня 25.09.2024</th>
            <th>Вчера 24.09.2024</th>
            <th>Позавчера 23.09.2024</th>
            <th>Всего</th>
          </tr>
        </ng-template>
        <!--      <ng-template pTemplate="body" let-product>-->
        <!--        <tr>-->
        <!--          <td>{{ product.code }}</td>-->
        <!--          <td>{{ product.name }}</td>-->
        <!--          <td>{{ product.category }}</td>-->
        <!--          <td>{{ product.quantity }}</td>-->
        <!--        </tr>-->
        <!--      </ng-template>-->
      </p-table>
    </p-panel>
  </p-tabPanel>
  <p-tabPanel header="Ссылающиеся сайты">
    <p-panel header="Ссылающиеся сайты (Top 20)">
      <p-table>
        <ng-template pTemplate="header">
          <tr>
            <th>Сайт</th>
            <th>Сегодня 25.09.2024</th>
            <th>Вчера 24.09.2024</th>
            <th>Позавчера 23.09.2024</th>
            <th>Всего</th>
          </tr>
        </ng-template>
        <!--      <ng-template pTemplate="body" let-product>-->
        <!--        <tr>-->
        <!--          <td>{{ product.code }}</td>-->
        <!--          <td>{{ product.name }}</td>-->
        <!--          <td>{{ product.category }}</td>-->
        <!--          <td>{{ product.quantity }}</td>-->
        <!--        </tr>-->
        <!--      </ng-template>-->
      </p-table>
    </p-panel>
  </p-tabPanel>
  <p-tabPanel header="Поисковые фразы">
    <p-panel header="Поисковые фразы (Top 20)">
      <p-table>
        <ng-template pTemplate="header">
          <tr>
            <th>Фраза</th>
            <th>Сегодня 25.09.2024</th>
            <th>Вчера 24.09.2024</th>
            <th>Позавчера 23.09.2024</th>
            <th>Всего</th>
          </tr>
        </ng-template>
        <!--      <ng-template pTemplate="body" let-product>-->
        <!--        <tr>-->
        <!--          <td>{{ product.code }}</td>-->
        <!--          <td>{{ product.name }}</td>-->
        <!--          <td>{{ product.category }}</td>-->
        <!--          <td>{{ product.quantity }}</td>-->
        <!--        </tr>-->
        <!--      </ng-template>-->
      </p-table>
    </p-panel>
  </p-tabPanel>
  <p-tabPanel header="Индексация">
    <p-panel header="Индексация сайта (Top 20)">
      <p-table>
        <ng-template pTemplate="header">
          <tr>
            <th>Имя поисковика</th>
            <th>Сегодня 25.09.2024</th>
            <th>Вчера 24.09.2024</th>
            <th>Позавчера 23.09.2024</th>
            <th>Всего</th>
          </tr>
        </ng-template>
        <!--      <ng-template pTemplate="body" let-product>-->
        <!--        <tr>-->
        <!--          <td>{{ product.code }}</td>-->
        <!--          <td>{{ product.name }}</td>-->
        <!--          <td>{{ product.category }}</td>-->
        <!--          <td>{{ product.quantity }}</td>-->
        <!--        </tr>-->
        <!--      </ng-template>-->
      </p-table>
    </p-panel>
  </p-tabPanel>
</p-tabView>
