<p-table
  [value]="visits"
  [lazy]="true"
  [paginator]="true"
  [rows]="rowsPerPage"
  selectionMode="single"
  [totalRecords]="totalRecords"
  [loading]="isLoading"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {totalRecords} entries"
  [rowsPerPageOptions]="[rowsPerPage, 10,20,50,100]"
  (onPage)="onPageChange($event)"
  dataKey="uuid"
  styleClass="p-datatable-sm p-datatable-gridlines">
  <ng-template pTemplate="header">
    <tr>
      <th>дата</th>
      <th>День недели</th>
      <th>Хитов</th>
      <th>Хостов</th>
      <th>Сессий</th>
      <th>Событий</th>
      <th>Посетителей</th>
      <th>Новых</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-visits>
    <tr>
<!--      <td>{{ hit.uuid }}</td>-->
<!--      <td>{{ hit.sessionUuid }}</td>-->
<!--      <td>{{ hit.dateHit }}</td>-->
<!--      <td>{{ hit.userId }}</td>-->
<!--      <td>{{ hit.ip }}</td>-->
<!--      <td>{{ hit.countryName }}</td>-->
<!--      <td>{{ hit.countryId }}</td>-->
<!--      <td>{{ hit.url }}</td>-->
<!--      <td>{{ hit.siteId }}</td>-->
    </tr>
  </ng-template>
</p-table>
