<p-card header="Filter">

</p-card>

<p-tabView>
  <p-tabPanel header="Посещаемость">
    <p-table>
      <ng-template pTemplate="header">
        <tr>
          <th>Сегодня 25.09.2024</th>
          <th>Вчера 24.09.2024</th>
          <th>Позавчера 23.09.2024</th>
          <th>Всего</th>
        </tr>
      </ng-template>
<!--      <ng-template pTemplate="body" let-product>-->
<!--        <tr>-->
<!--          <td>{{ product.code }}</td>-->
<!--          <td>{{ product.name }}</td>-->
<!--          <td>{{ product.category }}</td>-->
<!--          <td>{{ product.quantity }}</td>-->
<!--        </tr>-->
<!--      </ng-template>-->
    </p-table>
  </p-tabPanel>
  <p-tabPanel header="Рекламные компании">
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
    </p>
  </p-tabPanel>
  <p-tabPanel header="События">
    <p>
      At vero eos et accusamus et iusto odio dignissimos...
    </p>
  </p-tabPanel>
  <p-tabPanel header="Ссылающиеся сайты">
    <p>
      At vero eos et accusamus et iusto odio dignissimos...
    </p>
  </p-tabPanel>
  <p-tabPanel header="Поисковые фразы (Top 20)">
    <p>
      At vero eos et accusamus et iusto odio dignissimos...
    </p>
  </p-tabPanel>
  <p-tabPanel header="Индексация сайта (Top 20)">
    <p>
      At vero eos et accusamus et iusto odio dignissimos...
    </p>
  </p-tabPanel>
</p-tabView>
